<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Message</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @keyframes shake {
        0% {
          transform: translateX(0);
        }
        20% {
          transform: translateX(-5px);
        }
        40% {
          transform: translateX(5px);
        }
        60% {
          transform: translateX(-5px);
        }
        80% {
          transform: translateX(5px);
        }
        100% {
          transform: translateX(0);
        }
      }
      .shake {
        animation: shake 0.4s ease-in-out;
      }
    </style>
  </head>

  <body
    class="bg-black text-white flex items-center justify-center min-h-screen w-full"
  >
    <div class="text-center w-full">
      <!-- Logo -->
      <div class="my-8 flex items-center justify-center">
        <img
          src="https://neuroservices.lon1.cdn.digitaloceanspaces.com/static/ghosttransfer/logo.png"
          alt="logo"
          class="w-40"
        />
      </div>

      <!-- Heading -->
      <h2 class="text-xl font-normal text-white mb-1">
        View your secret message & file
      </h2>
      <p class="text-sm text-gray-300">View Remaining {{ remaining_views }}</p>

      <!-- Message Box (Password Input) -->
      <div
        class="mt-8 flex flex-col items-center justify-center bg-[#0F0F0F]/90 rounded-lg shadow-lg px-8 py-12 w-[60%] min-h-[400px] mx-auto"
      >
        <form method="get" class="w-full max-w-md space-y-4">
          <label for="password" class="block text-white text-sm font-medium">
            Enter Password
          </label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Enter your secret password"
            required
            class="w-full px-4 py-3 bg-[#161616] text-gray-200 placeholder-gray-500 rounded-lg focus:outline-none focus:ring-2"
          />

          {% if error %}
          <div class="flex items-center gap-2 text-[#FF8484] text-sm shake">
            <img
              src="https://neuroservices.lon1.cdn.digitaloceanspaces.com/static/ghosttransfer/swarn.png"
              alt="error"
              class="w-4"
            />
            {{ error }}
          </div>
          {% endif %}

          <button
            type="submit"
            class="w-full py-3 bg-[#515151] text-white rounded-lg font-[400] text-[16px]"
          >
            View my Secret
          </button>
        </form>
      </div>
    </div>
  </body>
</html>
